<div class="right-panel dashboard hide">
    <div class="counts">
        <div class="box noselect running">Running</div>
        <div class="box noselect paused">Paused</div>
        <div class="box noselect stopped">Stopped</div>
        <div class="box noselect images">Images</div>
    </div>
    <div class="general-stats">
        <div class="box total-images"></div>
        <div class="box total-containers"></div>
    </div>
</div>