<div class="right-panel images">
    <!-- IMAGES SECTION -->
    <div class="images-management">
        <div class="images-list">
            <ul>
                <li>
                    <div class="name">
                        My Image Name : Tag
                    </div>
                    <div class="options">
                        <img width="35px" src="../resources/images/play.png" alt="start container">
                        <img width="25px" src="../resources/images/delete.png" alt="delete image">
                    </div>
                </li>
                <li>
                    <div class="name">
                        My Image Name : Tag
                    </div>
                    <div class="options">
                        <img width="35px" src="../resources/images/play.png" alt="start container">
                        <img width="25px" src="../resources/images/delete.png" alt="delete image">
                    </div>
                </li>
                <button class="btn btn-info someclass">
                    <div class="name">
                        My Image Name : Tag
                    </div>
                    <div class="options">
                        <img width="35px" src="../resources/images/play.png" alt="start container">
                        <img width="25px" src="../resources/images/delete.png" alt="delete image">
                    </div>
                </button>
            </ul>
        </div>
        <div class="general-options">
            <button id="btnBuildImage" class="btn btn-primary">Create/Build Image</button>
        </div>
    </div>
    <div class="terminal-logs">
        <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
</div>