<%- include('partials/_header.ejs') %> 

    <div class="content">
        <div class="left-nav">
            <div class="logo">
                <img width="120px" height="35px" src="static:///resources/images/logo.png" alt="logo">
            </div>
            <div class="options">
                <ul>
                    <li onclick="changePage(event)" id="dashboard" class="list-element">Dashboard</li>
                    <li onclick="changePage(event)" id="images" class="list-element list-element-selected">Images</li>
                    <li onclick="changePage(event)" id="containers" class="list-element">Containers</li>
                    <li onclick="changePage(event)" id="volumes" class="list-element">Volumes</li>
                    <li onclick="changePage(event)" id="networks" class="list-element">Networks</li>
                    <li onclick="changePage(event)" id="compose" class="list-element">Compose</li>
                </ul>
            </div>
        </div>
        <%- include('pages/dashboard.ejs') %> 
        <%- include('pages/images.ejs') %> 
    </div>

    <!-- MODALS -->
    <div class="modal fade" id="modalBuildImage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="md-form input-group mb-3">
                        <input type="text" class="form-control" placeholder="Dockefile path">
                        <div class="input-group-prepend">
                            <button class="btn btn-md btn-default m-0 px-3" type="button"
                                id="MaterialButton-addon1">Search</button>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01"
                                aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
<%- include('partials/_footer.ejs') %> 