<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docker Manager</title>
    <!-- JQUERY -->
    <script src="static:///resources/js/extern/mdbootststrap/jquery.min.js"></script>
    <script>
        var $ = jQuery = require('jquery');
    </script>
    <!-- <link rel="stylesheet" href=static:///resources/styles/start.css"> -->
    <link rel="stylesheet" href="static:///resources/styles/start.css">
    <link rel="stylesheet" href="static:///resources/styles/global.css">

    <script src="static:///resources/js/extern/mdbootststrap/bootstrap.min.js"></script>
    <script src="static:///resources/js/extern/mdbootststrap/mdb.min.js"></script>
    <script src="static:///resources/js/extern/mdbootststrap/popper.min.js"></script>
</head>

<body>